.card_item {
  border: none !important;
}
// .card_shadow:hover{
//     -webkit-box-shadow: 18px 20px 29px -5px rgba(97,89,97,0.71);
// -moz-box-shadow: 18px 20px 29px -5px rgba(97,89,97,0.71);
// box-shadow: 18px 20px 29px -5px rgba(97,89,97,0.71);

// }

.card_background {
  background-color: rgb(248, 225, 225);
}

.productCardContainer.productCard {
  padding: 1vw 1vw;
  border: 1px solid #808080 !important;
  margin: 1vw 1vw;
}

.productCardImage {
  height: 25vw;
  width: 100%;
  object-fit: contain;
}
